<!-- footer.ejs - Thedyson Eduard Luzon - Cedar Dental Care  -->

<footer id="main-footer">
  <div class="container">
    <div id="footer-widgets" class="row align-items-end">
      <div id="footer-widget" class="col">
        <h4 class="title">Dental Services</h4>
        <p><a href="/services" style="text-decoration: none;">Services 1</a></p>
        <p><a href="/services" style="text-decoration: none;">Services 2</a></p>
      </div>
      <div id="footer-widget" class="col">
        <div id="text-4">
          <h4 class="title">Resources</h4>
        <div class="textwidget">
          <p><a title="Patient Form" href="assets\images\Patient-Form1.pdf" style="text-decoration: none;" target="_blank" rel="noopener noreferrer">Click For Patient Form</a></p>
          <p>Resource 2</p>
        </div>
      </div>
    </div>
    <div id="footer-widget" class="col">
      <div id="text-5">
        <h4 class="title">Contact</h4>
      <div class="textwidget">
        <address>  
          <p class="text-dark">695 Markham Rd Unit #2, Scarborough, ON, M1H 2A5
          </p>
        </address>
        <p>By Phone: <a title="Call" href="tel:6473483636">+1 647 348 3636</a></p>
        <p>By Fax: +1 647 352 3638</p> <br>

        <p><a href="https://www.facebook.com/cedardental.care.7" target="_blank" rel="noopener">
          <img id="facebookicon" src="assets\images\cdfblogo.png" alt="Facebook logo" width="40" height="40"></a>
        <a href="https://twitter.com/cedardentalcare" target="_blank" rel="noopener">
          <img id="twittericon" src="assets\images\cdtwlogo.png" alt="Twitter logo" width="40" height="40"></a>
        <a href="https://www.google.com/maps/place/Cedar+Dental+Care/@43.7619185,-79.2272493,17z/data=!3m2!4b1!5s0x89d4d0419ce5b4ab:0xb522ebb64103d754!4m5!3m4!1s0x89d4d041838dd08d:0xbc0c0ef46c7eda7a!8m2!3d43.7619146!4d-79.2250606" target="_blank" rel="noopener">
          <img id="mapmarkicon" src="assets\images\cdmapmark.png" alt="Map mark logo" width="40" height="40"></a></p>
      </div>
    </div>
    </div>
  </div>

  <div id="footer-bottom">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid" >
        <a id="copyright" class="navbar-brand" href="#">Copyright &copy; 2022 - Thedyson Luzon</a>
      </div>
    </nav>
  </div>
</footer>