<!-- header.ejs - Thedyson Eduard Luzon - Cedar Dental Care -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
      <img id="customlogo" src="\assets\images\cedardentalcarelogo.png" class="img-thumbnail" alt="Cedar Dental Care logo"> </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home fa-lg"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"> <i class="fas fa-user-check fa-lg"></i>About</a>
          </li>

          <li class="nav-item dropdown">
            <a href="/services" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-map fa-lg"></i>Services</a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">                <li><a class="dropdown-item" href="/generaldentistry">General Dentistry</a></li>
              <li><a class="dropdown-item" href="/orthodontics">Orthodontics</a></li>
              <li><a class="dropdown-item" href="/dentalimplants">Dental Implants</a></li>
              <li><a class="dropdown-item" href="/pediatricdentistry">Pediatric Dentistry</a></li>
              <li><a class="dropdown-item" href="/digitalxrays">Digital X-rays</a></li>
              <li><a class="dropdown-item" href="/oralsurgery">Oral Surgery</a></li>
              <li><a class="dropdown-item" href="/cosmeticdentistry">Cosmetic Dentistry</a></li>
              <li><a class="dropdown-item" href="/teethwhitening">Teeth Whitening</a></li>
              <li><a class="dropdown-item" href="/denturerepair">Dentures and Denture Repair</a></li>

            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/team"><i class="fas fa-info fa-lg"></i>Meet the Team</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-phone fa-lg"></i>Contact</a>
          </li>
          
          <div id="authlogin">
          <% if(displayName) { %>
           <li class="nav-item">
            <a class="nav-link" href="/contact/list"><i class="fas fa-user-tie"></i>Contact List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout"><i class="fas fa-sign-out-alt fa-lg"></i>Logout</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login"><i class="fas fa-sign-in-alt fa-lg"></i>Login</a>
          </li>
          <% } %>
        </div>
        </ul>
      </div>
      
    </div>
  </nav>