<!-- about.ejs - Thedyson Eduard Luzon - Cedar Dental Care  -->
<div class="container">
  <h1>
    <%= title %>
  </h1>

  <p> We have Dentists that speaks Chinese, Filipino, English…… </p>
  <p> You will have the choice of a Dentist who can speak your language that gives you the peace of mind that your Dentist understands you. </p>
  <p> We use all Digital X-Rays.</p>

  <p> Which equals to the very minimal radiation exposures (90% less radiation), and image quality of digital x-ray is better than film. </p>
  <p> We use Intra-oral camera for in depth diagnosis and treatment aid. </p>
  <p> Patients monitors are available for viewing or entertainment. </p>

  <p></p>
  <p></p>

</div>