<!-- about.ejs - Thedyson Eduard Luzon - Cedar Dental Care  -->
<div class="container">  

  <div class="container">
    <img src="\assets\images\Gallery_10.jpg" id="imgBackground" alt="About">
    <div class="centered" id="pgTitle">
      <h1><%= title %> Us</h1>
      <a title="Call" class="link-light" href="tel:6473483636" style="text-decoration: none;">Call us: +1 (647) 348-3636</a>
    </div>
  </div>

  <p> We have Dentists that speaks Spanish, Filipino, English…… </p>
  <p> You will have the choice of a Dentist who can speak your language that gives you the peace of mind that your Dentist understands you. </p>
  <p> We use all Digital X-Rays.</p>

  <p> Which equals to the very minimal radiation exposures (90% less radiation), and image quality of digital x-ray is better than film. </p>
  <p> We use Intra-oral camera for in depth diagnosis and treatment aid. </p>
  <p> Patients monitors are available for viewing or entertainment. </p>
<br>
  <h4> Services Offered
  </h4> <p></p>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause:="hover">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>

  </div>
    <div class="carousel-inner">
  
      <div class="carousel-item active" >
        <img src="assets\images\Gallery_7.jpg" class="d-block w-100" alt="General Dentistry">
        <div class="carousel-caption d-none d-md-block">
          <h5>General Dentistry</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\images\Gallery_8.jpg" class="d-block w-100" alt="Orthodontics">
        <div class="carousel-caption d-none d-md-block">
          <h5>Orthodontics</h5>
        </div>
      </div>
          <div class="carousel-item">
        <img src="assets\images\Gallery_9.jpg" class="d-block w-100" alt="Dental Implants">
        <div class="carousel-caption d-none d-md-block">
          <h5>Dental Implants</h5>
        </div>
      </div>
          <div class="carousel-item">
        <img src="assets\images\Gallery_10.jpg" class="d-block w-100" alt="Pediatric Dentistry">
        <div class="carousel-caption d-none d-md-block">
          <h5>Pediatric Dentistry</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\images\Gallery_11.jpg" class="d-block w-100" alt="Digital X-rays">
        <div class="carousel-caption d-none d-md-block">
          <h5>Digital X-rays</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\images\Gallery_12.jpg" class="d-block w-100" alt="Oral Surgery">
        <div class="carousel-caption d-none d-md-block">
          <h5>Oral Surgery</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\images\Gallery_16.jpg" class="d-block w-100" alt="Cosmetic Dentistry">
        <div class="carousel-caption d-none d-md-block">
          <h5>Cosmetic Dentistry</h5>
        </div>
      </div>    
      <div class="carousel-item">
        <img src="assets\images\Gallery_20.jpg" class="d-block w-100" alt="Teeth Whitening">
        <div class="carousel-caption d-none d-md-block">
          <h5>Teeth Whitening</h5>
        </div>
      </div>    
      <div class="carousel-item">
        <img src="assets\images\Gallery_7.jpg" class="d-block w-100" alt="Dentures and Denture Repair">
        <div class="carousel-caption d-none d-md-block">
          <h5>Dentures and Denture Repair</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets\images\Gallery_20.jpg" class="d-block w-100" alt="Endodontics">
        <div class="carousel-caption d-none d-md-block">
          <h5>Endodontics</h5>
        </div>
      </div>
  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <p></p>

</div>