<!-- contact.ejs - Thedyson Eduard Luzon - Cedar Dental Care -->

<div class="container">
  <h1>
    <%= title %>
  </h1>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4">
        <img id="customlogo" src="\assets\images\cedardentalcarelogo.png" class="img-thumbnail rounded float-start" alt="Cedar Dental Care logo"> </a>
      </div>
      <div class="col-8">
        <h3 class="text-end text-uppercase">Medical Alert</h3>
        <h4 class="text-end text-uppercase">Welcome to our Dental Office </h4>
        <p class="text-end">The personal information provided below will be protected and kept private by our office. All information will be used and disclosed responsibly according to the Privacy Act standards set up and monitored by our office.</p>
      </div>
    </div>
  </div>

  <form class="row g-3 border">

    <!-- Checks -->
    <div class="form-floating col-5">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="optionMr">
      <label class="form-check-label" for="inlineCheckbox1">Mr.</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="optionMrs">
      <label class="form-check-label" for="inlineCheckbox2">Mrs.</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="optionMiss">
      <label class="form-check-label" for="inlineCheckbox3">Miss</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="optionMs">
      <label class="form-check-label" for="inlineCheckbox4">Ms.</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="optionDr">
      <label class="form-check-label" for="inlineCheckbox5">Dr.</label>
    </div>
  </div>

  <!-- Given Name -->
  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingGivenName" placeholder="John Doe">
    <label for="floatingInput">Given Name: </label>
  </div>

  <!-- Marital Status -->
  <div class="form-floating col-3">
    <input type="text" class="form-control" id="floatingMaritalStatus" placeholder="Marital Status">
    <label for="floatingInput">Marital Status: </label>
  </div>

  <!-- Surname -->
  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingSurname" placeholder="Surname">
    <label for="floatingSurname">Surname: </label>
  </div>

  <!-- Pronunciation -->
  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingPronunciation" placeholder="Pronunciation">
    <label for="floatingPronunciation">Pronunciation: </label>
  </div>

  <!-- Prefer to be called -->
  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingPreferToBeCalled" placeholder="Prefer to be called">
    <label for="floatingPreferToBeCalled">Prefer to be called: </label>
  </div>

  <!-- Address -->
  <div class="form-floating col-12">
    <div class="input-group">
      <span class="input-group-text">Address</span>

      <input type="text" class="form-control" id="floatingStreet" placeholder="Street">

      <input type="text" aria-label="AptNum" class="form-control" id="floatingAptNum" placeholder="AptNum">

      <input type="text" aria-label="City" class="form-control" id="floatingCity" placeholder="City">

      <input type="text" aria-label="Postal Code" class="form-control" id="floatingPostalCode" placeholder="Postal Code">

    </div>
  </div>

  <!-- Home phone -->
  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingHomePhone" placeholder="HomePhone">
    <label for="floatingHomePhone">Home Phone: </label>
  </div>
  <!-- Work phone -->
  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingWorkPhone" placeholder="WorkPhone">
    <label for="floatingWorkPhone">Work Phone: </label>
  </div>  
  <!-- Date of Birth -->
  <div class="form-floating col-4">
    <input type="date" class="form-control" id="floatingBirthDate" placeholder="Birth Date">
    <label for="floatingBirthDate">Birth Date: </label>
  </div>

  <!-- Fax -->
  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingFax" placeholder="Fax">
    <label for="floatingFax">Fax: </label>
  </div>  
  <!-- Other -->
  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingOther" placeholder="Other">
    <label for="floatingOther">Other: </label>
  </div>  
  <!-- MFAC -->
  <div class="form-floating col-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="optionMale">
      <label class="form-check-label" for="inlineCheckbox1">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="optionFemale">
      <label class="form-check-label" for="inlineCheckbox2">Female</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="optionAdult">
      <label class="form-check-label" for="inlineCheckbox3">Adult</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="optionChild">
      <label class="form-check-label" for="inlineCheckbox4">Child</label>
    </div>
  </div>

  <!-- Employer -->
  <div class="form-floating col-6">
    <input type="text" class="form-control" id="floatingEmployer" placeholder="Employer">
    <label for="floatingEmployer">Employer: </label>
  </div> 

  <!--Occupation-->
  <div class="form-floating col-6">
    <input type="text" class="form-control" id="floatingOccupation" placeholder="Occupation">      
    <label for="floatingOccupation">Occupation: </label>
  </div> 
  
  <!--Email Address-->
  <div class="form-floating col-6">
    <input type="text" class="form-control" id="floatingEmailAddress" placeholder="Email Address">
    <label for="floatingEmailAddress">Email Address: </label>
  </div> 

  <!-- Contact Method -->
  <div class="form-floating col-6">
    <input type="text" class="form-control" id="floatingContactMethod" placeholder="Contact Method">
    <label for="floatingContactMethod">Contact Method: </label>
  </div> 

  <hr style="height: 5px; background-color: maroon;">

  <!-- Referred By -->
  <div class="form-floating col-12">
    <input type="text" class="form-control" id="floatingReferredBy" placeholder="Referred By">      
    <label for="floatingReferredBy">Who may we thank for referring you to this office? </label>
  </div> 

  <!-- Available on short notice for future appointments -->
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupShortNotice">Are you likely to be available on short notice for future appointments? </label>
    <select class="form-select" id="inputGroupShortNotice">
      <option selected>Please select... </option>
      <option value="1">Yes</option>
      <option value="2">No</option>
    </select>
  </div>

  <!-- Family Physician -->
  <div class="form-floating col-8">
    <input type="text" class="form-control" id="floatingFamilyPhysician" placeholder="Family Physician">
    <label for="floatingFamilyPhysician">Family Physician: </label>
  </div> 

  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingFamilyPhysicianPhoneNum" placeholder="(123) 456-7890">
    <label for="floatingFamilyPhysicianPhoneNum">Phone: </label>
  </div> 

  <!-- Emergency Contact -->
  <div class="form-floating col-6">
    <input type="text" class="form-control" id="floatingEmergencyContact" placeholder="Emergency Contact">
    <label for="floatingEmergencyContact">In case of Emergency Notify: </label>
  </div>
  
  <div class="form-floating col-2">
    <input type="text" class="form-control" id="floatingEmergencyRelation" placeholder="Relation">
    <label for="floatingEmergencyRelation">Relation: </label>
  </div> 

  <div class="form-floating col-4">
    <input type="text" class="form-control" id="floatingEmergencyPhoneNum" placeholder="(123) 456-7890">
    <label for="floatingEmergencyPhoneNum">Phone: </label>
  </div> 

  <hr style="height: 5px; background-color: maroon;">


  <!-- Primary Insurance -->


  <!-- Secondary Insurance -->



    <div class="col-sm-6 border border-dark">

      <div class="form-floating border border-end-0 border-start-0 border-dark">
        <h5>Primary Insurance</h5>
      </div>
      <div class="row">
      
        <div class="form-floating col-6 col-sm-6">
          <input type="text" class="form-control" id="floatingEmergencyPhoneNum" placeholder="(123) 456-7890">
          <label for="floatingEmergencyPhoneNum">Phone: </label>
        </div>

      </div>
    </div>


    <div class="col-sm-6 border border-dark">

      <div class="form-floating border border-end-0 border-start-0 border-dark">
        <h5>Secondary Insurance</h5>
      </div>
    
      <div class="row">
        <div class="col-6 col-sm-6">Secondary</div>

      </div>
    </div>
  <!---->
  <!---->
  <!---->

    <div class="form-floating col-6">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    
    <!--Date-->
    <div class="form-floating col-12">
      <input type="date" class="form-control" id="floatingDate" placeholder="Date">
      <label for="floatingDate">Date: </label>
    </div>

    <!--Patient Name-->
    <div class="form-floating col-6">
      <input type="text" class="form-control" id="floatingPatientName" placeholder="Patient Name">
      <label for="floatingPatientName">Patient Name: </label>
    </div>

    <!--Preferred Name-->
    <div class="form-floating col-6">
      <input type="text" class="form-control" id="floatingPrefName" placeholder="Preferred To be Called">
      <label for="floatingPrefName">Preferred to be called: </label>
    </div>
  
    <!--Gender-->
    <div class="col-3">
      <label class="visually-hidden" for="inlineFormSelectGender"> Please select...</label>
      <select class="form-select" id="inlineFormSelectGender">
        <option selected>Please select...</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
        <option value="3">Other</option>
      </select>
    </div>

    <!--Birth Date-->
    <div class="form-floating col-9">
      <input type="date" class="form-control" id="floatingBirthDate" placeholder="Birth Date">
      <label for="floatingBirthDate">Birth Date: </label>
    </div>

    <!--Mailing Address-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingMailingAddress" placeholder="Mailing Address">
      <label for="floatingMailingAddress">Mailing Address: </label>
    </div>

    <p></p>

    <!--Home Phone-->
    <div class="form-floating col-5">
      <input type="text" class="form-control" id="floatingHomePhone" placeholder="HomePhone">
      <label for="floatingHomePhone">Home Phone: </label>
    </div>

    <!--Work Phone-->
    <div class="form-floating col-5">
      <input type="text" class="form-control" id="floatingWorkPhone" placeholder="WorkPhone">
      <label for="floatingWorkPhone">Work Phone: </label>
    </div>    
    <!--Extension-->
    <div class="form-floating col-2">
      <input type="text" class="form-control" id="floatingExtension" placeholder="Extension">
      <label for="floatingExtension">Ext: </label>
    </div>  
    
    <!--Cell phone-->
    <div class="form-floating col-5">
      <input type="text" class="form-control" id="floatingCellPhone" placeholder="Cell Phone">
      <label for="floatingCellPhone">Cell Phone: </label>
    </div> 

    <!--Email Address-->
    <div class="form-floating col-7">
      <input type="text" class="form-control" id="floatingEmailAddress" placeholder="Email Address">
      <label for="floatingEmailAddress">Email Address: </label>
    </div> 

    <!--Referred By-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingReferredBy" placeholder="Referred By">
      <label for="floatingReferredBy">Referred By: </label>
    </div> 

    <!--Employer-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingEmployer" placeholder="Employer">
      <label for="floatingEmployer">Employer: </label>
    </div> 

    <!--Employer Address-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingEmployerAddress" placeholder="Employer Address">
      <label for="floatingEmployerAddress">Employer Address: </label>
    </div> 

    <!--Occupation-->
    <div class="form-floating col-8">
      <input type="text" class="form-control" id="floatingOccupation" placeholder="Occupation">
      <label for="floatingOccupation">Occupation: </label>
    </div> 

    <!--Status-->
    <div class="col-4">
      <label class="visually-hidden" for="inlineFormStatus">Status: </label>
      <select class="form-select" id="inlineFormStatus">
        <option selected>Status: </option>
        <option value="1">Minor</option>
        <option value="2">Single</option>
        <option value="3">Married</option>
        <option value="4">Divorced</option>
        <option value="5">Widowed</option>
      </select>
    </div>

    <!--Spouse's Name-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingSpouseName" placeholder="Spouse's Name">
      <label for="floatingSpouseName">Spouse's Name: </label>
    </div> 
    
    <p></p>

    <!--Primary Dental Insurance-->
    <h6>Primary Dental Insurance:</h6>
    <!--Co. Name-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingCoName" placeholder="Co. Name">
      <label for="floatingCoName">Co. Name: </label>
    </div>
    
    <!--Primary Insurance Address-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingPrimaryInsuranceAddress" placeholder="Primary Insurance Address">
      <label for="floatingPrimaryInsuranceAddress">Address: </label>
    </div>   

    <!--Primary Insurance Phone Number-->
    <div class="form-floating col-5">
      <input type="text" class="form-control" id="floatingPrimaryInsurancePhoneNumber" placeholder="Primary Insurance Phone Number">
      <label for="floatingPrimaryInsurancePhoneNumber">Phone #: </label>
    </div>   

    <!--Primary Insurance ID #-->
    <div class="form-floating col-7">
      <input type="text" class="form-control" id="floatingPrimaryInsuranceID" placeholder="Primary Insurance ID #">
      <label for="floatingPrimaryInsuranceID">Insured's ID #: </label>
    </div>

    <!--Primary Group # (Plan, Local, or Policy #)-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingPrimaryGroupNum" placeholder="Primary Group #">
      <label for="floatingPrimaryGroupNum">Group # (Plan, Local, or Policy #): </label>
    </div>

    <!--Primary Insured's Name-->
    <div class="form-floating col-6">
      <input type="text" class="form-control" id="floatingPrimaryInsuredName" placeholder="Primary Insured Name">
      <label for="floatingPrimaryInsuredName">Insured's Name: </label>
    </div>

    <!--Primary Insured's Relation-->
    <div class="form-floating col-6">
      <input type="text" class="form-control" id="floatingPrimaryInsuredRelation" placeholder="Primary Insured Relation">
      <label for="floatingPrimaryInsuredRelation">Relation: </label>
    </div>

    <!--Primary Insurance Birth Date-->
    <div class="form-floating col-5">
      <input type="date" class="form-control" id="floatingPrimaryInsuranceBirthDate" placeholder="Birth Date">
      <label for="floatingPrimaryInsuranceBirthDate">Date of Birth: </label>
    </div>

    <!--Primary Insured's Employer-->
    <div class="form-floating col-7">
      <input type="text" class="form-control" id="floatingPrimaryInsuredEmployer" placeholder="Primary Insured Employer">
      <label for="floatingPrimaryInsuredEmployer">Insured's Employer: </label>
    </div>

    <p></p>

    <!--Seoncary Dental Insurance-->
    <h6>Secondary Dental Insurance:</h6>
    <!--Secondary Co. Name-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingSecCoName" placeholder="Co. Name">
      <label for="floatingSecCoName">Co. Name: </label>
    </div>
    
    <!--Secondary Insurance Address-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingSecondaryInsuranceAddress" placeholder="Secondary Insurance Address">
      <label for="floatingSecondaryInsuranceAddress">Address: </label>
    </div>   

    <!--Secondary Insurance Phone Number-->
    <div class="form-floating col-5">
      <input type="text" class="form-control" id="floatingSecondaryInsurancePhoneNumber" placeholder="Secondary Insurance Phone Number">
      <label for="floatingSecondaryInsurancePhoneNumber">Phone #: </label>
    </div>   

    <!--Secondary Insurance ID #-->
    <div class="form-floating col-7">
      <input type="text" class="form-control" id="floatingSecondaryInsuranceID" placeholder="Secondary Insurance ID #">
      <label for="floatingSecondaryInsuranceID">Insured's ID #: </label>
    </div>

    <!--Secondary Group # (Plan, Local, or Policy #)-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingSecondaryGroupNum" placeholder="Secondary Group #">
      <label for="floatingSecondaryGroupNum">Group # (Plan, Local, or Policy #): </label>
    </div>

    <!--Secondary Insured's Name-->
    <div class="form-floating col-6">
      <input type="text" class="form-control" id="floatingSecondaryInsuredName" placeholder="Secondary Insured Name">
      <label for="floatingSecondaryInsuredName">Insured's Name: </label>
    </div>

    <!--Secondary Insured's Relation-->
    <div class="form-floating col-6">
      <input type="text" class="form-control" id="floatingSecondaryInsuredRelation" placeholder="Secondary Insured Relation">
      <label for="floatingSecondaryInsuredRelation">Relation: </label>
    </div>

    <!--Secondary Insurance Birth Date-->
    <div class="form-floating col-5">
      <input type="date" class="form-control" id="floatingSecondaryInsuranceBirthDate" placeholder="Birth Date">
      <label for="floatingSecondaryInsuranceBirthDate">Date of Birth: </label>
    </div>

    <!--Secondary Insured's Employer-->
    <div class="form-floating col-7">
      <input type="text" class="form-control" id="floatingSecondaryInsuredEmployer" placeholder="Secondary Insured Employer">
      <label for="floatingSecondaryInsuredEmployer">Insured's Employer: </label>
    </div>

    <p></p>

    <!--Account Info-->
    <h6>Account Info</h6>
    <p>Person Ultimately responseible for Account:</p>

    <!--Account Info Name-->
    <div class="form-floating col-7">
      <input type="text" class="form-control" id="floatingAccountInfoName" placeholder="Account Info Name">
      <label for="floatingAccountInfoName">Name: </label>
    </div>

    <!--Account Info Relation-->
    <div class="form-floating col-5">
      <input type="text" class="form-control" id="floatingAccountInfoRelation" placeholder="Account Info Relation">
      <label for="floatingAccountInfoRelation">Relation: </label>
    </div>

    <!--Account Info Billing Address-->
    <div class="form-floating col-12">
      <input type="text" class="form-control" id="floatingAccountInfoBillingAddress" placeholder="Account Info Billing Address">
      <label for="floatingAccountInfoBillingAddress">Billing Address: </label>
    </div>

    <!--Account Info SIN #-->
    <div class="form-floating col-5">
      <input type="text" class="form-control" id="floatingAccountInfoSINNum" placeholder="Account Info SIN #">
      <label for="floatingAccountInfoSINNum">SIN #: </label>
    </div>

    <!--Account Info Work #-->
    <div class="form-floating col-7">
      <input type="text" class="form-control" id="floatingAccountInfoWorkNum" placeholder="Account Info Work #">
      <label for="floatingAccountInfoWorkNum">Work #: </label>
    </div>

    <p></p>

    <h6>Dental Information</h6>
    <!--Reason for Today's visit-->
    <div class="col-12">
      <label class="visually-hidden" for="inlineFormReasonVisit">Reason for Today's visit: </label>
      <select class="form-select" id="inlineFormReasonVisit">
        <option selected>Reason for Today's visit: </option>
        <option value="1">Exam</option>
        <option value="2">Emergency</option>
        <option value="3">Consultation</option>
      </select>
    </div>

    <!--Are you in pain-->
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupPain">Are you in pain: </label>
      <select class="form-select" id="inputGroupPain">
        <option selected>Please select... </option>
        <option value="1">No</option>
        <option value="2">Yes</option>
      </select>
        <span class="input-group-text">How long? </span>
        <input type="text" id="inputPainHowLong" aria-label="How long" class="form-control">
    </div>

    
    <!--Indicate options-->




    <p></p><p></p>
    <div class="form-floating col-9">
      <input type="phone" class="form-control" id="floatingBirthDate" placeholder="Birth Date">
      <label for="floatingBirthDate">Birth Date: </label>
    </div>



    <div class="col-9">
      <label class="visually-hidden" for="inlineFormInputGroupUsername">Birthdate: </label>
      <div class="input-group">
        <div class="input-group-text col-2">Month</div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="MM">
        <div class="input-group-text col-2">Day</div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="DD">        
        <div class="input-group-text col-2">Year</div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="YYYY">
      </div>
    </div>

    <div class="col-12">
      <label class="visually-hidden" for="inlineFormInputGroupUsername">Mailing Address</label>
      <div class="input-group">
        <div class="input-group-text">Mailing Address: </div>
        <input type="text" class="form-control" id="inlineFormInputGroupMailingAddress" placeholder="Mailing Address">
      </div>
    </div>

    <p></p>




    <div class="col-12">
      <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
      <div class="input-group">
        <div class="input-group-text">@</div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
      </div>
    </div>
  
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inlineFormCheck">
        <label class="form-check-label" for="inlineFormCheck">
          Remember me
        </label>
      </div>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</div>  