<!-- denturerepair.ejs - Thedyson Eduard Luzon - Cedar Dental Care -->

<div class="container">  

  <div class="container">
    <img src="\assets\images\Gallery_10.jpg" id="imgBackground" alt="General Dentistry">
    <div class="centered" id="pgTitle">
      <h1><%= title %></h1>
      <a title="Call" class="link-light" href="tel:6473483636" style="text-decoration: none;">Call us: +1 (647) 348-3636</a>
    </div>
  </div>
  
  <p></p>
  <div class="container">
    <div class="row align-items-start">
      <div class="col-7">
        <h2> <%= title %> at Cedar Dental Care</h2>
        <p>
          A partial or complete set of artificial teeth for either the upper or lower jaw as well as reuniting or replacing broken or worn parts of a denture.
        </p>      
      </div>

      <div class="col">
        <figure class="figure">
          <img src="\assets\images\benny.jpeg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figure class="text-end">
            <blockquote class="blockquote">
              <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
          </figure>
        </figure>        
      </div>
    </div>
  </div>

</div>