<!-- home.ejs - Thedyson Eduard Luzon - Cedar Dental Care -->

<div class="container">  

  <div class="container">
    <img src="\assets\images\Gallery_10.jpg" id="imgBackground" alt="Home">
    <div class="centered" id="pgTitle">
      <h1>Welcome to Cedar Dental Care</h1>
      <a title="Call" class="link-light" href="tel:6473483636" style="text-decoration: none;">Call us: +1 (647) 348-3636</a>
    </div>
  </div>

  <h4>Welcome to Cedar Dental Care, where patients are our first priority.</h4>
  <div>
    <p>The staff are very friendly, always smiling and equipped with care.</p>
    <h4>Mission Statement</h4>
    <p>Our entire team is dedicated to providing you with a comfortable and safe experience.</p> 

    <p></p>
    <p></p>
    <p></p>
  </div>
</div>