<!-- home.ejs - Thedyson Eduard Luzon - Cedar Dental Care -->

<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to Cedar Dental Care, where patients are our first priority.</p>
  <div>
    <p>The staff are very friendly, always smiling and equipped with care.</p>
    <h4>Mission Statement</h4>
    <p>Our entire team is dedicated to providing you with a comfortable and safe experience.</p> 

    <p></p>
    <p></p>
    <p></p>
  </div>
</div>