<!-- pediatricdentistry.ejs - Thedyson Eduard Luzon - Cedar Dental Care -->

<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %> page
  </p>
  
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <p>
          Primary and specialty oral care providers for infants and children through adolescence, including those with special health needs.
        </p>      
      </div>

      <div class="col">
        <figure class="figure">
          <img src="\assets\images\benny.jpeg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figure class="text-end">
            <blockquote class="blockquote">
              <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
          </figure>
        </figure>        
      </div>
    </div>
  </div>

</div>